@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@700&family=Roboto+Slab:wght@200;700&display=swap');



body {
    background: white;
}

.navbar-fixed {
    position: fixed;
}

.login-button {
    width: 25rem;
    margin-top: 8.5%;
    font-size: large;
    font-weight: bold;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 800%;
    color: #7c4dff;
    display: block;
    margin-top: 19%;
    margin-left: 60%;
}

.logo-nav {
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
    color: white;
    display: block;
    margin-left: 5%;
}

.profile-photo {
    width: 50%;
    vertical-align: middle;
    border-radius: 50%;
}

.footer-bottom {
    position: fixed;
    bottom: 0%;
    width: 100%;
    vertical-align: bottom;
}

.follow-us {
    vertical-align: middle;
}

.icon {
    color: white;
    margin-left: 0.5%;
    vertical-align: middle;
}

.feeds-container {
    height: 100vh;
    color: white;
}

.sidenav-align {
    margin-top: 5%;
    max-height: 78.6vh;
}

.nav-icon {
    margin-left: 5%;
}

.container-user {
    height: 100vh;
    margin-top: 5%;
    background-color: white;
    position: fixed;
}

.user-photo {
    width: 13%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5%;
    margin-bottom: 2.7%;
}

.user-name {
    margin-top: 0.7rem;
}

.follow-btn {
    margin-top: 0.3rem;
}

.feed {
    margin-top: 7%;
}

.card-icon {
    font-size: x-large;
}

.caption {
    margin-bottom: 1.2rem;
}

.card-user {
    border: 0;
}

.card-user-photo {
    width: 9%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5%;
}

.card-user-name {
    margin-top: 0.7rem;
}


.card-delete-icon {
    font-size: x-large;
    margin-top: 2.5%;
}