@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@700&family=Roboto+Slab:wght@200;700&display=swap');



body {
    background: white;
}

.navbar-fixed {
    position: fixed;
}

.login-button {
    width: 25rem;
    margin-top: 8.5%;
    font-size: large;
    font-weight: bold;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 800%;
    color: #7c4dff;
    display: block;
    margin-top: 19%;
    margin-left: 60%;
}

.logo-nav {
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
    color: white;
    display: block;
    margin-left: 5%;
}

.profile-photo {
    width: 50%;
    vertical-align: middle;
    border-radius: 50%;
}

.footer-bottom {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 1;
    height: 7%;
}

.text-margin {
    margin-top: 0.8%;
}

.follow-us {
    vertical-align: middle;
}

.icon {
    color: white;
    margin-left: 0.5%;
    vertical-align: middle;
}

.feeds-container {
    height: 100vh;
    color: white;
}

.sidenav-align {
    margin-top: 5%;
    z-index: 1;
}

.nav-icon {
    margin-left: 5%;
}

.container-user {
    height: 100vh;
    margin-top: 5%;
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    padding-right: 1.75%;
}

.user-photo {
    width: 13%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5%;
    margin-bottom: 2.7%;
}

.user-name {
    margin-top: 0.7rem;
}

.follow-btn {
    margin-top: 0.3rem;
}

.feed {
    margin-top: 7%;
}

.card-icon {
    font-size: x-large;
}

.caption {
    margin-bottom: 1.2rem;
}

.card-user {
    border: 0;
}

.card-user-photo {
    width: 9%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5%;
}

.card-user-name {
    margin-top: 0.7rem;
}


.card-delete-icon {
    font-size: x-large;
    margin-top: 2.5%;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
    margin-top: 30%;
}

.profile-left {
    text-align: left;
}

.create-post-icon {
    vertical-align: middle;
    font-size: 150%;
}

.create-post {
    margin-top: 4%;
}

.fixed-div {
    position: fixed;
    z-index: 1;
    width: 5%;
    margin-left: 39.5%;
}

.sort-icon {
    font-size: x-large;
    padding: 3%;
}

/* label color */
.input-field label {
    color: #7c4dff !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #7c4dff !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #7c4dff !important;
    box-shadow: 0 1px 0 0 #7c4dff !important;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #7c4dff !important;
    box-shadow: 0 1px 0 0 #7c4dff !important;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #7c4dff !important;
    box-shadow: 0 1px 0 0 #7c4dff !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #7c4dff !important;
}